@*<title>Pierre's Market</title>

@{
  Layout = "_Layout";
}

<h1>Hello Pierre!</h1>
<br>
This is your Market Program.
Is the customer ready to place an order? I am!
To start, press <i>Account</i>.
<hr />
<p>@Html.ActionLink("Account", "Index", "Account")</p>

@if (User.Identity.IsAuthenticated)
{
<p>@Html.ActionLink("See Treat Menu", "Index", "Treats")</p>
<p>@Html.ActionLink("See Flavor Menu", "Index", "Flavors")</p>
}
*@
