<title>Pierre's Market</title>

@{
  Layout = "_Layout";
}

<h1><b>Hello @User.Identity.Name</b>!</h1>
<br>

@if (User.Identity.IsAuthenticated)
{
<p>@Html.ActionLink("See Treat Menu", "Index", "Treats")</p>
<p>@Html.ActionLink("See Flavor Menu", "Index", "Flavors")</p>
}
else
{
<h4>This is your Market Assistant.</h4>
<h4>Are you ready to place an order?</h4>
<h4>I am!</h4>
<h4>To start, press <i>Account</i>.</h4>
<hr />
}
<p>@Html.ActionLink("Account", "Index", "Account")</p>
