<title>Pierre's Market</title>

@{
  Layout = "_Layout";
}

<h1>Hello Pierre!</h1>
<br>
Is the customer ready to place an order? I am!
<hr />
<p>@Html.ActionLink("See Treat Menu", "Index", "Treats")</p>
<p>@Html.ActionLink("See Flavor Menu", "Index", "Flavors")</p>
