<title>Pierre's Market</title>

@{
  Layout = "_Layout";
}

<h1><b>Hello @User.Identity.Name</b>!</h1>
<br>

@if (User.Identity.IsAuthenticated)
{
<p>@Html.ActionLink("See Treat Menu", "Index", "Treats")</p>
<p>@Html.ActionLink("See Flavor Menu", "Index", "Flavors")</p>
}
else
{
<p>This is your Market Assistant.</p>
<p>Are you ready to place an order?</p>
<p>I am!</p>
<p>To start, press <i>Account</i>.</p>
<hr />
}
<p>@Html.ActionLink("Account", "Index", "Account")</p>
